---
title: Jurgo Boemo
---
div
  section
    h3 About Me
    p I'm a quite experienced javascript programer with a past as team leader.
    p I like programming in general, during my daily work I mainly use javascript.
    p Recently I'm interested in Isomorphic javascript and I'm really exited about Reactjs framework and the Flux approach. I also like to do optimized web site with jquery using non obstusive javascript and progressive enhancement approch.
    p I spent my last 5 years mainly developing with javascript, but in my "past live" I've used also Java and Python.

  section
    h3 Resume
    h5 Senior Front End Developer at <a href="http://workdigital.co.uk/">Workdigital</a> - November 2014, Present
    p He was Hired as Senior Frontend develoer to Workdigital, a fast growing start up based in london

    h5 Team Leader at <a href="http://usablenet.com/">Usablenet</a> - January 2010, October 2014
    p He started coordinating a small group of external resources. After half a year, he started leading also an internal group. During this period, he also helped teaching and improving the technical growth of various junior resources.

    h5 Web Developer at <a href="http://usablenet.com/">Usablenet</a>- January 2009, January 2010
    p After his first month at Usablenet, Jurgo started to be the main developer of some of the Usablenet major client's sites. After half a year of experience, he started helping developers as platform trainer and tech assistant.

    h5 Software Engineer at <a href="http://www.digitalapes.net/old/it/cosa-facciamo/" >Digitalapes</a> - July 2007, November 2008
    p Jurgo co-founded Digitalapes, a startup company dedicated to the development of a mobile geo-localized community for smart-phone users. His main responsibilities were the design and the development of web sites using GTW framework, executing smoke tests and write cross-compiling guides.

  section
    h3 My Projects
    dl
      dt <a href="http://www.cityclub.tv/">CityClub.tv</a>
      dd Geolocated Chat writed with nodejs + Angularjs + socket.io. It works only on <a href="http://en.wikipedia.org/wiki/Udine">Udine</a>
      dt <a href="https://github.com/jurgob/ImagesLazyLoading">ImagesLazyLoading</a>
      dd ImageLoader writed with commonjs+jquery+Promise
      dt <a href="https://github.com/jurgob/win_mover_standalone">Win Mover Standalone</a>
      dd A Little utility to enable windows moving keyboard shortcuts on Mac OS.
  section
    h3 Project I've partecipate:
    dl
      dt <a href="http://www.itmediaonline.com/">Itmediaonline</a>
      dd itmediaonline web site
      dt <a href="http://m.statravel.com/mt/book.statravel.co.uk/">Statravel Mobile Booking</a>
      dd Statravel Mobile Booking
      dt <a href="https://github.com/digitalapesjam/Cadoo">Cadoo</a>
      dd Cadoo was a game we did in 48h for the <a href="http://nordicgamejam.org/">Nordic Game Jam</a> 2014


  section
    h3 Contact Me
    dl
      dt Mail:
      dd jurgo.boemo at gmail.com
      dt Socials:
      dd  <a href="https://github.com/jurgob"><img src="github_icon.png" alt="Jurgo Boemo GitHub Profile"  /></a>
          <a href="https://uk.linkedin.com/in/jurgo"><img src="linkedin_icon.png" alt="Jurgo Boemo Linkedin Profile"  /></a>
          <a href="https://twitter.com/UselessClown"><img src="twitter_icon.jpeg" alt="Jurgo Boemo Twitter Profile"  /> </a>
          <a href="https://www.hackerearth.com/users/jurgo.boemo/"><img src="hackerrank_icon.png" alt="Jurgo Boemo HackerEarth Profile"  /> </a>
          <a href="https://www.facebook.com/jurgo.boemo"><img src="facebook_icon.png" alt="Jurgo Boemo Facebook Profile"  /> </a>
    div
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19858.646076819892!2d-0.08221725!3d51.52549295000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761ca1a25ab109%3A0x6793607b0085dd83!2sBracklyn+Ct%2C+London+N1+7EL!5e0!3m2!1sen!2suk!4v1428808501927" width="280" height="280" frameborder="0" style="border:0"></iframe>

  section
    h3 My Tech Readings Blog
    p As every developer I costanty improve my knoledge reading a lot of stuff. In the following blog you can see all my Tech's readings: <a href="http://jurgoboemo.tumblr.com/">jurgoboemo.tumblr.com</a>
